.modal {
  animation: fade-in 0.8s;
  position: fixed;
  top: 115px;
  left: 60%;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: visibility 1s, opacity 1s;
}

.modal_overlay {
  width: 200vw;
  height: 200vh;

  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 4px;

  box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.2);

  transform-origin: right bottom;
  cursor: auto;
}

.modal_content {
  position: relative;
  top: -33px;
  height: 380px;
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  align-items: center;
}

.hidden {
  display: none;
  opacity: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal_content > h1 {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 38px;
  padding: 0 20px;
}

.js-toDoForm {
  all: unset;
}

input[type="text"] {
  all: unset;

  width: 384px;
  height: 50px;

  border: 0;
  box-sizing: border-box;
  font-size: 12px;
  color: #878481;
  background-color: #f5f4f3;
  padding: 0 20px;
  /* margin-top: 250px; */
  border-radius: 4px;
}

.js-toDoList {
  width: 100%;
  height: 300px;
  list-style: none;
  padding-left: 0px;
  font-size: 14px;
  color: #878481;


  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.toDolist li button {
  all: unset;
  height: 35px;
  padding: 0 20px;
  color: #af2d2d;
}
